@import '~bulma/sass/utilities/_all';

$white: #FFF;
$bgdark: #333;
$body-background-color: $bgdark;
$body-color: $white;

$primary: #8c67ef;
$primary-invert: findColorInvert($primary);

$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

a.pagination-link, 
a.pagination-previous,
a.pagination-next {
	color: $white;

	&[disabled="disabled"] {
		color: $dark !important;
	}

	&:hover {
		color: $white;
	}
}

.navbar {
	background-color: $bgdark !important;
	
	.navbar-item {
		color: $white;
	}

	.router-link-active {
		color: $primary;
	}
}


.main-container {
	position: relative;
}
.home {
	cursor: pointer;
}

.home:hover {
	text-decoration: underline;
}

.underline {
	text-decoration: underline;
}

.datatable__actions__select {
	display: none !important;
}

/* 	transition taken from:
https://markus.oberlehner.net/blog/vue-router-page-transitions/
*/
.slide-left-enter-active,
.slide-left-leave-active {
	transition-duration: 0.5s;
	transition-property: height, opacity, transform;
	transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
	overflow: hidden;
}

.slide-left-enter {
	opacity: 0;
	transform: translate(2em, 0);
}

.slide-left-leave-active {
	opacity: 0;
	transform: translate(-2em, 0);
}


.box.no-items {
	text-align: center;
}

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';