@import '~bulma/sass/utilities/_all';

$white: #FFF;
$bgdark: #333;
$body-background-color: $bgdark;
$body-color: $white;

$speed-slow: 150ms !default;
$speed-slower: 250ms !default;

$primary: #7957d5 !default;
$primary-invert: $white !default;

$info: #167df0 !default;

$link: $primary !default;
$link-invert: $primary-invert !default;
$link-visited: $grey !default;
$link-focus-border: $primary !default;

$label-weight: $weight-semibold !default;

	// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
	
	.main-container {
		position: relative;
	}
	.home {
		cursor: pointer;
	}

	.home:hover {
		text-decoration: underline;
	}

	.underline {
		text-decoration: underline;
	}

	.datatable__actions__select {
		display: none !important;
	}

	/* 	transition taken from:
		https://markus.oberlehner.net/blog/vue-router-page-transitions/
	*/
	.slide-left-enter-active,
	.slide-left-leave-active {
		transition-duration: 0.5s;
		transition-property: height, opacity, transform;
		transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
		overflow: hidden;
	}

	.slide-left-enter {
		opacity: 0;
		transform: translate(2em, 0);
	}

	.slide-left-leave-active {
		opacity: 0;
		transform: translate(-2em, 0);
	}


.box.no-items {
    text-align: center;
}